<app-header></app-header>

<div class="create-article-container">
  <h1>Créer un nouvel article</h1>

  <form (ngSubmit)="onCreateArticle()">
    <label for="theme">Sélectionner un thème</label>
    <select [(ngModel)]="selectedThemeId" id="theme" name="theme" required>
      <option *ngFor="let theme of themes" [value]="theme.id">
        {{ theme.name }}
      </option>
    </select>

    <label for="title">Titre de l'article</label>
    <input [(ngModel)]="title" id="title" name="title" required type="text"/>

    <label for="content">Contenu de l'article</label>
    <textarea [(ngModel)]="content" id="content" name="content" required></textarea>

    <button class="create-button" type="submit">Créer</button>
  </form>
</div>
