/* register.css */
@import '../../../styles/auth.scss';

.register {
  @extend .auth-container;
}

.signup-button {
  background-color: #6c4ed9;
  color: white;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #5739b8;
}
