<app-header></app-header>
<div class="register">
  <span routerLink="/auth-choice" class="back-arrow">←</span>
  <h2>Inscription</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form (submit)="onRegister()">
    <mat-form-field appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>
    <button class="signup-button" mat-raised-button type="submit">S'inscrire</button>
  </form>
</div>

