<app-header></app-header>
<div class="register">
  <span class="back-arrow" routerLink="/auth-choice">←</span>
  <h2>Inscription</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form (submit)="onRegister()">
    <mat-form-field appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input [(ngModel)]="username" matInput name="username" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adresse e-mail</mat-label>
      <input [(ngModel)]="email" matInput name="email" required type="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input [(ngModel)]="password" matInput name="password" required type="password">
    </mat-form-field>
    <button class="signup-button" mat-raised-button type="submit">S'inscrire</button>
  </form>
</div>

