.header {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .header {
    padding: 10px;
    justify-content: center;
  }

  .logo {
    width: 120px;
  }
}
