<div class="header">
  <img (click)="navigateToArticles()" alt="MDD Logo" class="logo" height="401" ngSrc="/assets/logo_p6.png" priority
       width="695">

  <div *ngIf="isLoggedIn && !isMobile" class="navigation">
    <button [routerLinkActiveOptions]="{ exact: true }" routerLink="/articles" routerLinkActive="active">
      Articles
    </button>
    <button [routerLinkActiveOptions]="{ exact: true }" routerLink="/themes" routerLinkActive="active">
      Themes
    </button>
    <button class="profile" routerLink="/profile">
      <i aria-hidden="true" class="fa fa-user"></i>
    </button>
  </div>

  <div (click)="toggleMenu()" *ngIf="isMobile" class="burger-menu">
    <i aria-hidden="true" class="fa fa-bars"></i>
  </div>

  <div (click)="toggleMenu()" *ngIf="isMenuOpen" class="overlay"></div>

  <div *ngIf="isMobile" [class.open]="isMenuOpen" class="side-panel">
    <button routerLink="/articles">Articles</button>
    <button routerLink="/themes">Themes</button>
    <button class="profile" routerLink="/profile">
      <i aria-hidden="true" class="fa fa-user"></i>
    </button>
  </div>
</div>
