<app-header></app-header>

<div class="articles-list">
  <button class="create-article-button" routerLink="/articles/create">
    Créer un article
  </button>

  <button (click)="toggleSortOrder()" class="sort-button">
    Trier par Date
    <span class="arrow">{{ isAscending ? '↑' : '↓' }}</span>
  </button>
</div>

<div class="articles-container">
  <div (click)="onArticleClick(article.id)" *ngFor="let article of articles" class="article-card">
    <h3>{{ article.title }}</h3>
    <p class="article-meta">
      <strong>Date:</strong> {{ article.createdAt | date: 'short' }}
      <strong>Auteur:</strong> {{ article.user.username || 'Auteur inconnu' }}
    </p>
    <p class="article-content">
      <span class="article-text">{{ article.content }}</span>
    </p>
  </div>
</div>
