.articles-page {
  position: relative;
}

.create-article-button {
  position: fixed;
  left: 20px;
  top: 20%;
  transform: translateY(-50%);
  background-color: #6c4ed9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #5a3cb5;
  }
}
