<app-header></app-header>
<div class="login">
  <span class="back-arrow" routerLink="/auth-choice">←</span>
  <h2>Connexion</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form (submit)="onLogin()">
    <mat-form-field appearance="outline">
      <mat-label>Email ou Nom d'utilisateur</mat-label>
      <input [(ngModel)]="identifier" matInput name="identifier" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input [(ngModel)]="password" matInput name="password" required type="password">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Se connecter</button>
  </form>
</div>
